{% extends "akskate/base.html" %} 

{% block title %} 
  History
{% endblock %} 

{% block main %}


{% load static %}
<link rel="stylesheet" href="{% static 'akskate/t_line.css' %}">

<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
      <h2 class="timeline-header__title">STORY OF SKATE</h2>
      <h3 class="timeline-header__subtitle"></h3>
    </div>
    <div class="timeline">
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://skatelife18.files.wordpress.com/2016/12/primeras-skateboard.jpg"/>
          <h2 class="timeline__content-title">50's</h2>
          <p class="timeline__content-desc">Fueron los surfers de la zona de California los que, 
            para pasar el rato en días sin olas, decidieron acoplar cuatro ruedas de patines a una simple tabla de madera
            y “jugar” a surfear el asfalto.</p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="http://weareskaters.com/img/cms/Skateboarder_vol1_no3.JPG"/>
          <h2 class="timeline__content-title">60's</h2>
          <p class="timeline__content-desc">En los años 60 la popularidad del skate comienza a crecer y aparecen las primeras compañías especializadas en fabricar patines.
            Marcas como Jack´s, Hobie y Makaha empiezan a realizar las primeras competiciones. Como es lógico, era un estilo que nada tiene 
            que ver con el skate moderno. </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://weareskaters.com/img/cms/loaded-longboards_1.jpeg"/>
          <h2 class="timeline__content-title">65</h2>
          <p class="timeline__content-desc">El skate cae de pronto y parecía que el skate quedaría como algo residual y que no llegaría a más. Las pocas empresas que había cerraron y, nuevamente, no había material de skate que comprar. La gente, a pesar de las dificultades, seguían patinando por su cuenta. Volvieron al inicio y cada uno se fabricaba su skate como podía. </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://www.geocities.ws/russhowellsite/Photo-1975-CadillacWheelsPoster.jpg"/>
          <h2 class="timeline__content-title">70's</h2>
          <p class="timeline__content-desc">Cuando parecía que todo estaba perdido, ocurrió uno de esos hechos que cambia el curso de todo. Frank Nasworthy inventó las ruedas de uretano en 1973 y fundó la empresa Cadilla Wheels. Estas ruedas hicieron que mucha gente volviera a tener interés por el skate y se volvió a practicar de forma más habitual.</p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://weareskaters.com/img/cms/zephyrteamphoto.jpg"/>
          <h2 class="timeline__content-title">75</h2>
          <p class="timeline__content-desc">En un campeonato de slalom y freestyle en Del Mar, California el equipo Zephyr enseñó una forma de patinar que no se había visto nunca y mostraron lo que el skate podía llegar a ser. A partir de ese día, se dejó de ver al skateboard como un hobby marginal y pasó a ser algo tomado muy en serio y con muchas posibilidades <br>
            En esa fecha, se produjo otro momento histórico. Alan Gelfand, inventó el Ollie. Y ese truco revolucionó el skate para siempre, abriendo un abanico de posibilidades infinitas.
        </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://i.pinimg.com/originals/c3/74/24/c374246a38acc969b652e73560af2d83.jpg"/>
          <h2 class="timeline__content-title">80's</h2>
          <p class="timeline__content-desc">Los años 80 supusieron el nacimiento del Skate Moderno, tal y como lo conocemos hoy en día. Se empezó a evolucionar muchísimo en cuento a material y trucos. 
            El Vert era la disciplina más popular, pero a finales de los 80 el street empieza a crecer mucho también.</p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://i.gifer.com/50no.gif"/>
          <h2 class="timeline__content-title">VHS</h2>
          <p class="timeline__content-desc">Los 80 coincidieron con el auge del video VHS y los videos de skate hicieron que la popularidad del patín alcanzara cotas internacionales. Mucha culpa de esto la tiene la Bones Brigade, uno de los equipos más legendarios que ha habido y cuyos videos supusieron un antes y un después en la difusión del skateboarding. </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://www.slugmag.com/uploads/%20277/3185-Animal_Photo.jpg"/>
          <h2 class="timeline__content-title">Bones Brigade </h2>
          <p class="timeline__content-desc">
            En dicho equipo había leyendas tales como Tony Hawk, Steve Caballero, Rodney Mullen, Lance Mountain, Stacy Peralta, Mike McGill, etc. Nombre muy conocidos aún a día de hoy y muchos de ellos en activo.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://www.jenkemmag.com/home/wp-content/uploads/2014/01/LovePark.jpg"/>
          <h2 class="timeline__content-title">90's</h2>
          <p class="timeline__content-desc">En los 90, la popularidad del skate volvió a caer bastante. El patín se asoció mucho al estilo underground, y los skaters no tenían muy buena reputación. 
            Jóvenes de todo el mundo asaltaron las calles y aprovecharon cualquier obstáculo del mobiliario urbano para hacer sus trucos. El material, evolucionó hasta prácticamente el skate que conocemos hoy en día
        </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://i.pinimg.com/originals/b9/52/c6/b952c6a36dd197aaadc71bc1335486ab.jpg"/>
          <h2 class="timeline__content-title">Reputacion</h2>
          <p class="timeline__content-desc">A mediados de los 90, con esa imagen de los skaters asociada al punk y a la rebeldía, el skate volvió a calar en los jóvenes de una generación un tanto descontenta que buscaba un cambio. 
            Se fundaron muchas marcas de skate y de zapatillas por los propios skaters. Marcas que hoy ya son históricas como flip, toy machine, foundation, anti hero, creature, etc.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="TRAVEL IN THE TIME">
        <div class="timeline__content"><img class="timeline__img" src="https://thumbs.gfycat.com/InexperiencedIllinformedCoyote-size_restricted.gif"/>
          <h2 class="timeline__content-title">X-games</h2>
          <p class="timeline__content-desc">
            A finales de los 90, se produjo la primera celebración de los X-Games. Este hecho supuso un gran empujón mediático para el mundo del skate, y lo puso frente a las grandes audiencias. A partir de ahí, aunque nunca ha perdido su esencia, se dio a conocer como práctica deportiva y espectáculo.
          </p>
        </div>
      </div>

    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="{% static '/akskate/time_line.js' %}"></script>


{% endblock %}